[run]
omit =
  .github/*
  .vscode/*
  *setup.py
  *conftest.py
  *__init__.py
  *tests/*
  /usr/local/lib/*
  */python3.8/site-packages/*

[report]
exclude_lines =
  pragma: no cover
  def __repr__
  if self.debug:
  if settings.DEBUG
  raise AssertionError
  raise NotImplementedError
  if 0:
  if __name__ == .__main__.:
  def __main
  pass
omit =
  .github/*
  .vscode/*
  *setup.py
  *conftest.py
  *__init__.py
  *tests/*
  /usr/local/lib/*
